.socialLinks {
  margin: 0px 5px;
  padding: 5px;

  .icons {
    color: #5589bd;
  }
}

.footer {
  border-top: 0.5px solid #808080;
  height: 100%;
  color: black;
  margin: 0 1em 1vw;

  .content {
    margin: 0px 1vw;
    text-align: center;
    align-items: center;

    .copyright {
      color: #212529;
      font-weight: lighter;

      .footerLinks,
      .footerLinks:link,
      .footerLinks:visited,
      .footerLinks:hover,
      .footerLinks:active {
        text-decoration: none;
        color: #007bff;
      }
    }
  }
}
