.background {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  // position: relative;

  .contentDesktop {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .contentMobile {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }
}
