.background {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }
}
